[alias]
	s  = status
	sw = switch
	a  = add
	c  = commit
	co = checkout
	b  = branch
	d  = diff
	pl = pull
	ps = push
	l  = "log --oneline"
	ll = log
[user]
	email = david.boelke@rwth-aachen.de
	name = david.boelke
[credential]
	helper = store
