[alias]
	s  = status -s
	st = status
	sw = switch
	sh = stash
	a  = add
	c  = commit
	co = checkout
	b  = branch
	d  = diff
	dt = difftool -y
	pl = pull
	ps = push
	l  = "log --oneline"
	lg = "log --oneline --graph"
	ll = log
[diff]
	tool=nvimdiff
[user]
	email = none
	name = none
[credential]
	helper = store
