configuration {
 font: "hack 18";
 kb-row-down: "Down,Super+j,Alt+j,Super+s,Alt+s";
 kb-row-up: "Up,Super+k,Alt+k,Super+w,Alt+w";
 kb-page-next: "Page_Down,Super+l,Alt+l,Super+d,Alt+d";
 kb-page-prev: "Page_Up,Super+h,Alt+h,Super+a,Alt+a";
 kb-custom-1: "Super+e,Alt+e";
 kb-custom-4: "Super+r,Alt+r";
 kb-cancel: "Super+q,Alt+q,Alt+space,Super+space,Super+Shift+space,Escape";
 kb-accept-entry: "Super+Return,Return";
 }
@import "/usr/share/rofi/themes/android_notification.rasi"
